body {
  margin: 0; 
  font-family: "Domine", serif;
  height: 100vh;
}

nav {
  font-weight: bolder;
}

nav .navbar-brand {
  color: black;
  font-size: x-large;
}

nav #burger_menu {
  width: 50px;
  border: none;
}

nav li {
  margin-right: 50px;
}

nav li a {
  color: black;
  font-size: 17px;
  padding: 10px;
}

nav li #contact {
  border: 3px solid rgba(255, 255, 255, 0.425);
}
#header-text{
  margin-top: 20px;
  font-size: 30px;
  }
  #header-text-footer{
      font-size: 20px;
      }
      #skills{
        font-family: 'Domine', serif;
        color: black;
    }
    #html{
      height: 60px;
      background-color: rgba(210, 30, 30, 0.664);
  }
  #css{
      height: 60px;
      background-color: rgba(0, 0, 255, 0.664);
  }
  #javascript{
      height: 60px;
      background-color:yellow;
  }
  #sass{
      height: 60px;
      background-color: palevioletred;
  }
  #bootstrap{
      height: 60px;
      background-color: black;
  }
  #react{
      height: 60px;
      background-color:darkgoldenrod;
  }
  #linux{
      height: 60px;
      background-color:rgba(3, 128, 170, 0.493);
  }
  #node{
      height: 60px;
      background-color:lightpink;
  }
  #npm{
      height: 60px;
      background-color:firebrick;
  }
  #git{
      height: 60px;
      background-color:wheat;
  }
  
#connect{
  font-family: 'Alice', serif;
  font-weight: bolder;
  font-size: 20px;
}
#projects-Text{
  font-family: 'Alice', serif;
  font-size: 30px;
  color: azure;    
}
#projects{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/src/components/underConstructioon/taxi-783.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 300px;
  background-position: center;
}
@media (max-width:8000px){
  #header-text{
      font-size: 30px;
      }   
}
#project_section_Header{
  font-size: xx-large;
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Alice', serif;
}

#time{
  font-size: 50px;
  text-align: center;
  font-family: 'Alice', serif;
}
/*#hour,#min,#sec{
  padding: 10px;
  border:3px solid blanchedalmond
}*/
#footer{
  background-color: black;
  color: whitesmoke;
}
#footer_logo{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}
.blockquote{
  font-family: 'Alice', serif;   
}
#footer_text{
  font-family: 'Alice', serif;
}
#contact_section{
  font-family: 'Alice', serif;
}
#header{
  font-size: 50px;
}
#contact_text,#contact_message{
  border-top: hidden;
  border-left: hidden;
  border-right:hidden;
}
#sub{
  font-family: 'Alice', serif;
}
#html{
  height: 60px;
  background-color: rgba(210, 30, 30, 0.664);
}