$primary-color:#7fd4ae;
$secondary-color:#D47FA5;
$font-pack:'Domine', serif;
$font-pack-2:'Pacifico', cursive;
body{
    margin:0;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    overflow-y: hidden;
    font-family: $font-pack;
    height: 100vh;
}
nav{
    font-weight: bolder;
    .navbar-brand{
        color: black;
        font-size: x-large;
    }
    #burger_menu{
        width: 50px;
        border: none;
    }
    li{
        margin-right: 50px;
        a{
            color: black;
            font-size: 17px;
            padding: 10px;
        }
        #contact{
            border: 3px solid rgba(255, 255, 255, 0.425);
        }
    }
}
#landing_page_1{
    margin-top: 10%;
    line-height: 1;
    .header_text{
        font-size: 20px;
        line-height: 1.5;
        font-family: $font-pack-2;
    }
    #arrow_icon{
        color:black;
        position: relative;
        margin-top: 10%;
        &:hover{
        color:black;    
        animation-name: moving_arrow;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }
    }
    @keyframes moving_arrow {
        0%{
        left:0px;
        }
        50%{
            left:25px;
        }
        
        100%{
            left:45px;
        }
    }
    }
    .landing_page_2{
        font-family: $font-pack;
        //background: url(/images/header_img.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        height: 100vh;   
    }