$primary-color:#7fd4ae;
$secondary-color:#D47FA5;
$font-pack:'Domine', serif;
$font-pack-2:'Pacifico', cursive;
body{
    margin:0;
    font-family: $font-pack;
    background-color: antiquewhite;
}
nav{
    font-weight: bolder;
    .navbar-brand{
        color: black;
        font-size: x-large;
    }
    #burger_menu{
        width: 50px;
        border: none;
    }
    li{
        margin-right: 50px;
        a{
            color: black;
            font-size: 17px;
            padding: 10px;
        }
        #contact{
            border: 3px solid rgba(255, 255, 255, 0.425);
        }
    }
}
